<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
        <title>WA Collector</title>
    <script src="../static/js/eventZilla.js"></script>
    <link rel="stylesheet" href="../static/css/style6.css">
</head>
<body class="body">
<header>
<div id="navigation">
    <a href="/">Главная</a>
    <a href="/web_event_files">Список логов</a>
    <a href="/smartSpy_form">Парсер smartspy</a>
    <a href="/web_show_from_raw">Показать wa из raw-логов</a>
</div>
</header>

{% block container %} {% endblock %}

</body>
</html>