<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
        <title>Analytic json viewer</title>
    <script src="../static/js/eventZilla.js"></script>
    <link rel="stylesheet" href="../static/css/style6.css">
</head>
<body class="body">

<div id="navigation">
    <a href="/">Главная</a>
    <a href="/web_event_files">Список логов</a>
    <a href="/event_raw?file={{file_name}}">Скачать raw</a>
    <a href="/web_show_from_raw">Показать wa из raw-логов</a>
</div>

<div id="input">
    {{output}}
</div>

<div id="menu">
</div>

<div class="content_container">
    <pre id="content"></pre>
</div>


<script>
load_all()

</script>
</body>

</body>
</html>